<section class="title" style="background-image: url('{{ options.background.url }}')">
	{% include '/header.twig' %}
	<div id="wrap">
		<div id="viewport"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
				<h1>{{ options.h1 }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-5 col-xl-5"></div>
			<div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
				<h2>{{ options.h2 }}</h2>
				<h3>{{ options.h3 }}</h3>
				<div class="button_wrapper">
					<div class="buttonAnimation">
						<a href="" class="buttonAnimation scroll">
							Посмотреть меню доставки
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
